body{
  font-family : "Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana, sans-serif";
  font-size: 24px;
  display :grid;
  height :100vh;
  margin :0px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows:  1fr 3fr 1fr;

}
.in-button{
  background-color: #f0f0f0;
  margin-bottom: auto;;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 8px 8px 18px -18px rgba(66, 68, 90, 1);
}
.in-button:hover{
  background-color: #fdfeff;
  padding: 12px;
  color: #838383;
  cursor: pointer;
}