body{
  font-family : "Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana, sans-serif";
  display :grid;
  height :100vh;
  margin :0px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows:  1fr 3fr 1fr;

}